.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
button {
	width: 200px;
	height: 30;
	font-size: 20px;
	margin: 5px;
}

.databaseEntry {
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}

.entryInfo {
	max-width: 500px;
	padding: 2rem;
	padding-bottom: 0;
}

.entryBtn {
	position: relative;
	bottom: 0;
	right: 0;
}
